
<h2> Welcome To the HomePage For Receptionist</h2>
<h5>click on these images to make changes to different appointment or patient data</h5>
		<br>
		<div id="main_wrapper">
		<section id="main_section" >
			<div>
				<h1>Get Appointement!</h1>
				<a routerLink="/doctors"> <img src="/assets/appointement.jfif"  alt="appointement"/> </a>
			</div>
          
			<div>
				<h1>Patients!</h1>
				<a routerLink="/patients"> <img src="/assets/patient2.png"  alt="patient"/> </a>
			</div>

            <div>
				
				<a routerLink="/"> <img src="/assets/hom.jfif"  alt="Home"/> </a>
			</div>

            <h1> Work Respect and Commitment</h1>
            <h5>HospitalManagement: your health our Priority</h5>
            <h5>www.HSM.com</h5>